* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 90%;
  max-width: 400px;
  color: #fff;
  text-align: center;
  padding: 50px 35px;
  border: 1px solid rgba(255, 255, 225, 0.3);
  background: rgba(255, 255, 225, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
}

.card img {
  width: 140px;
  border-radius: 50%;
}

.card h1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: cyan;
}

.card h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 1px;
  color: black;
}

.card h3 {
  font-family: Collona MT, 'Serif';
  font-size: 15px;
  font-weight: bold;
  margin-top: 1px;
  color: wheat;
}

.card p {
  font-size: 15px;
  margin: 10px auto;
  max-width: 350px;
}

.card .links img {
  width: 35px;
  border-radius: 50%;
  margin: 10px 5px;
}

.card .links img:hover {
  background: rgba(204, 202, 211, 0.5);
}

.btn {
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  margin: 5px 0 5px;
  text-decoration-color: azure;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.1);
}
